tr.mat-mdc-footer-row td {
  font-weight: bold;
}

.mat-column-name {
  font-weight: bold;
  text-align: center;
}

.mat-column-price {
  text-align: center;
}

.mat-column-quantity {
  text-align: center;
}
