<!--
  Using Mat Toolbar to setup our Web App navigation
-->
<mat-toolbar color="primary">
    <img src="../assets/img/latte-clipart-sm.png" alt="latte" width="80" height="57">
  <span>Coffee Shop</span>
  <span class="spacer"></span>
  <a mat-flat-button color="accent" routerLink="/">Home</a>&nbsp;
  <a mat-flat-button color="accent" routerLink="products">Products</a>&nbsp;
  <a mat-flat-button color="accent" routerLink="cart">Cart</a>
  <button mat-icon-button class="login-icon" aria-label="login-icon">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
<br>

<div class="container">
<router-outlet></router-outlet>
</div>
